html {
    background-color: #c0d8ee;
    font-size: 10px;
    /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
    font-family: "Open Sans", sans-serif;
    /* 这应该是你从 Google Fonts 得到的其余输出。 */
}

body {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(157, 212, 108);
    text-shadow: 3px 3px 11px rgb(94, 90, 90);
}

p {
    color: rgb(0, 0, 0);
    width: 500px;
    font-size: 80px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    float: right;
    margin-right: 30px;
    
}





